<div class="theme flex-col">
  <h1 class="break-line">
    <strong class="title">&lt;viz-lib&gt;</strong>
    <h5 class="subtext subtitle description">a lightweight js library for adding pleasant visual renders to anything web</h5>
    <br>
    <sup class="height-2rem">
      <sup><sup><sup><sup><sup>
        <div class="flex-col">
          <div class="credit">
            contributors: [
              &nbsp;<a href="https://github.com/Marcus-Kim" target="_blank">marcus</a>,
              &nbsp;<a href="https://github.com/JtSangerman" target="_blank">jamie</a>&nbsp;
            ]
            &nbsp;&nbsp; | &nbsp;&nbsp;
            <a href="https://github.com/JtSangerman/viz-lib" target="_blank">src</a>
          </div>
        </div>
      </sup></sup></sup></sup></sup>
    </sup>
  </h1>
  <div class="flex-col text-left-margin-align">
    <h2 class="height-0rem subtitle">&gt; docs and demos</h2>
    <h5 class="subtext">This is where we can document and demo everything available within the viz-lib library</h5>
    <div id="demos" class="content-container"></div>
  </div>
  <div class="divider"></div>
  <div class="flex-col text-left-margin-align">
    <h2 class="height-0rem subtitle">&gt; ideas and inspo</h2>
    <h5 class="subtext example-header">
      <<a href="https://www.youtube.com/@project_jdm/about" target="_blank">PROJECT JDM</a> />
    </h5>
    <div class="flex-row content-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/AGYaAQV27wM?si=k1zqMKFXWs8W-Tx1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/-wDENSQrMxg?si=wd6QlgMggDKwWy1G" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/4GaGnU8Ij2Y?si=IFuxPAgy7ygFzeXu" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <h5 class="subtext example-header">
      <<a href="https://bost.ocks.org/mike/algorithms/" target="_blank">MIKE BOSTOCK</a> /><sup><sup> (creator of d3.js)</sup></sup>
    </h5>
    <div class="flex-row content-container">
      <img width="50%" src="https://miro.medium.com/v2/resize:fit:640/format:webp/1*iwyIoNpFYDXgg7ywdT2GqA.png" />
      <img width="50%" src="https://miro.medium.com/v2/resize:fit:640/format:webp/1*2Q1eA85O43Ygu-fUdvOccw.png" />
    </div>
  </div>
